<template>
  <div class="footer__content-wrapper">
	<a :href="profile.getProfileGit" target="_blank"><GithubFilled class="github" style="position:absolute;left: 25px; top: 20px;font-size:14pt;color: rgb(0, 192, 202) "  /></a>
    <a :href="profile.getProfileBit" target="_blank" style="position:absolute;left: 50px; top: 20px;">
		<svg class="bitbucket" fill="rgb(0, 192, 202)" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="19px" height="19px" viewBox="0 0 548.928 548.929"
	 xml:space="preserve">
<g >
	<g>
		<path  d="M445.157,385.361c-50.306,33.237-107.283,49.854-170.943,49.854c-63.661,0-120.534-16.616-170.607-49.854l-6.065,3.023
			l-2.02,5.397c7.185,44.015,13.586,76.8,19.198,98.354c4.492,7.858,10.331,14.762,17.516,20.71
			c7.185,5.949,15.379,10.845,24.59,14.657c9.204,3.813,17.797,6.843,25.765,9.095s17.124,4.266,27.454,6.064
			c23.127,3.813,45.753,5.894,67.871,6.236c22.118,0.331,44.799-2.142,68.042-7.423c23.244-5.276,44.518-13.306,63.832-24.076
			c8.085-4.499,14.597-10.845,19.535-19.027c4.938-8.213,8.134-16.053,9.596-23.58c1.457-7.528,3.036-16.946,4.719-28.306
			c1.684-11.328,3.421-19.92,5.221-25.765c0-2.026,0.894-6.169,2.692-12.461c1.793-6.291,2.356-11.34,1.684-15.159
			C452.568,389.29,449.87,386.701,445.157,385.361z"/>
		<path d="M52.571,181.057c2.356,13.813,5.502,31.946,9.431,54.407c3.923,22.46,6.904,39.303,8.923,50.526
			c0.447,2.014,1.065,5.961,1.854,11.787c0.784,5.845,1.457,10.275,2.02,13.306c0.557,3.029,1.566,6.854,3.035,11.444
			c1.457,4.62,3.366,8.537,5.722,11.787c2.356,3.262,5.221,6.236,8.593,8.935c32.785,25.159,77.02,40.747,132.712,46.812
			c80.386,8.537,148.881-1.341,205.467-29.646c7.411-3.801,13.524-7.289,18.359-10.435c4.829-3.146,9.713-7.632,14.651-13.471
			c4.939-5.826,7.969-12.13,9.095-18.867c19.082-109.579,31.548-183.117,37.387-220.626c1.347-5.159,1.965-11.224,1.854-18.183
			c-0.116-6.958-1.971-12.681-5.557-17.185c-13.477-17.069-37.614-30.747-72.418-41.09C367.01,1.019,291.104-4.587,206,3.718
			c-42.222,4.039-77.363,11.236-105.429,21.555c-6.738,2.473-12.124,4.553-16.169,6.236c-4.039,1.683-9.21,4.21-15.496,7.577
			c-6.292,3.366-11.341,6.738-15.16,10.104c-3.819,3.366-7.356,7.577-10.612,12.632c-3.256,5.055-5.22,10.502-5.894,16.34
			c2.02,16.157,4.492,33.905,7.411,53.207C47.571,150.689,50.215,167.256,52.571,181.057z M332.317,311.254
			c-13.697,17.068-30.766,26.5-51.2,28.287c-20.667,1.799-39.242-4.486-55.747-18.856c-16.506-14.369-25.208-31.774-26.108-52.209
			c-0.673-15.502,3.201-30.037,11.622-43.629c8.421-13.581,19.707-23.513,33.85-29.805c22.008-9.884,44.125-8.421,66.359,4.382
			c22.234,12.791,34.915,31.212,38.061,55.233C351.625,275.323,346.013,294.191,332.317,311.254z M135.938,57.617
			c7.185-3.819,13.354-6.292,18.525-7.405c5.165-1.12,12.57-2.46,22.228-4.039c61.751-10.998,125.307-11.224,190.65-0.686
			c10.997,1.805,18.972,3.213,23.917,4.21c4.938,1.016,11.45,3.488,19.535,7.424c8.084,3.935,14.369,8.923,18.861,14.988
			c-6.512,6.512-14.933,11.738-25.263,15.655c-10.331,3.935-18.471,6.353-24.419,7.252c-5.955,0.894-15.998,2.252-30.147,4.039
			c-49.406,6.292-99.707,6.169-150.907-0.343c-13.477-1.567-23.299-2.858-29.474-3.868c-6.181-1.016-14.431-3.477-24.755-7.405
			c-10.331-3.935-18.862-9.039-25.594-15.331C123.141,66.271,128.747,61.43,135.938,57.617z"/>
		<path d="M302.506,239.007c-6.176-6.634-13.36-10.618-21.555-11.958c-8.201-1.353-16.334,0-24.419,4.039
			c-8.538,3.813-14.376,10.343-17.516,19.542c-3.146,9.21-3.091,18.421,0.171,27.62c3.25,9.21,9.266,15.722,18.023,19.541
			c11.897,7.185,24.418,6.512,37.558-2.025c13.134-8.525,18.807-19.866,17.008-34.016
			C311.765,253.218,308.681,245.635,302.506,239.007z"/>
	</g>
</g>
</svg></a>
    <p class="footer__content">version {{ version }}</p>
    <p class="footer__content">
      <!-- <a :href="repo" target="_blank" class="footer-link">All repositories</a> -->
    </p>
    <p class="footer__content">
      designed by
      KapayJI© 2023
    </p>
  </div>
</template>
<script>

import {GithubFilled} from "@ant-design/icons-vue"
export default {
  components:{GithubFilled},
  props: {
    profile: {
      type: Object,
      default: {},
    },
    repo: {
      type: String,
      default: "",
    },
	version:{
		type: String,
		default: 1
	}
  },
  setup() {

  },
};
</script>
