<template>
  <div class="repo_container">
    <h4 class="repo__container__header">
      <p class="header-title">Code with examples of how it works,</p>
      <p class="header-title">location - bitbucket pages</p>
    </h4>
    <div>
      <div v-for="item in list" :key="item.title" class="element">
        <span class="element-title">{{ item.title }}</span
        ><br />
        <span class="element-title"
          >An example of how the application works:
        </span>
        <a :href="item.urlRepoExample" target="_blank" class="repo-link"
          >Follow the link</a
        >
        <br />
        <span class="element-title">Source code repository link: </span>
        <a :href="item.urlRepoOnGit" target="_blank" class="repo-link"
          >Follow the link</a
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
      default: [],
    },
  },
  setup() {
    return {};
  },
};
</script>
