<template>
  <div class="repo_container">
    <h4>
      <p class="header-title">Код с примерами работы,</p>
      <p class="header-title">расположение - bitbucket pages</p>
    </h4>
    <div v-for="item in list" :key="item.title" class="element">
      <span class="element-title">{{ item.title }}</span
      ><br />
      <span class="element-title">Пример работы приложения: </span>
      <a :href="item.urlRepoExample" target="_blank" class="repo-link"
        >Перейти</a
      >
      <br />
      <span class="element-title"
        >Ссылка на репозиторий с исходным кодом:
      </span>
      <a :href="item.urlRepoOnGit" target="_blank" class="repo-link">Перейти</a>
      <br />
      <span class="element-title" v-if="item.urlBackendOnGit"
        >Ссылка на репозиторий с исходным кодом бекенда:
      </span>
      <a
        :href="item.urlBackendOnGit"
        v-if="item.urlBackendOnGit"
        target="_blank"
        class="repo-link"
        >Перейти</a
      >
    </div>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
      default: [],
    },
  },
  setup() {
    return {};
  },
};
</script>
