<template>
  <img src="@/assets/img/1.png" alt="https://kapayji.tech/storage/api/storage/e341a867570612438fd7eb6de8fb20d6.png" class="img-bg" loading="lazy" />
  <!-- <img src="https://kapayji.tech/storage/api/storage/e341a867570612438fd7eb6de8fb20d6.png" alt="bg" class="img-bg" loading="lazy" /> -->
  <div class="header-links">
    <p
      @click="linkToRusPage"
      class="header-links__element"
      :class="{ isSelected_resume: isRus }"
    >
      Ru
    </p>
    <p
      @click="linkToEngPage"
      class="header-links__element"
      :class="{ isSelected_resume: !isRus }"
    >
      En
    </p>
  </div>
<LayoutContent>
  <Main v-if="!isRus" :list="getData" />
  <MainRu v-else :list="getData" />
</LayoutContent>
  <LayoutFooter>
  <Footer :profile="{getProfileBit,getProfileGit}" :repo="getRepos" :version="vrs"/>
  </LayoutFooter>
</template>

<script>
import { computed, onMounted, ref } from "vue";
import { useStore } from "vuex";
import Main from "@/components/Main";
import MainRu from "@/components/MainRu";
import Footer from "@/components/Footer";
import {LayoutFooter, LayoutContent} from "ant-design-vue"
import {version} from '../../package.json'
export default {
  components: { Main, MainRu, Footer,LayoutFooter,LayoutContent },
  setup() {
    const store = useStore();
    const isRus = ref(false);
    onMounted(async () => {
      // await fetch("http://193.164.16.240:5000/api/repos")
      //   .then((response) => response.json())
      //   .then((json) => store.dispatch("setAllData", json))
      //   .catch((reject) => console.log(reject));
      store.dispatch("setUrlsInRepos",{url_example:process.env.VUE_APP_EXAMPLES, url_repo:process.env.VUE_APP_REPOS});
    });
    const getProfileBit = ref(store.getters.getProfileBitbucket);
    const getProfileGit = ref(store.getters.getProfileGithub);
    const getRepos = ref(store.getters.getCountRepo);
    const vrs = ref(version)
    const getData = computed(() => {
      return store.getters.getAllData;
    });
    const linkToRusPage = () => {
      // router.push({ name: "RU-ru" });
      isRus.value = true;
    };
    const linkToEngPage = () => {
      // router.push({ name: "home" });
      isRus.value = false;
    };
    return {
      getRepos,
      getData,
      getProfileBit,
      getProfileGit,
      linkToRusPage,
      linkToEngPage,
      isRus,
      vrs
    };
  },
};
</script>

<style></style>
