html {
  /* height: 800px; */
  /* background-image: url("https://kapayji.tech/storage/api/storage/e341a867570612438fd7eb6de8fb20d6.png");
  background-size: cover; */
}
a {
  color: rgb(0, 255, 255);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
}
a:visited {
  color: rgb(0, 255, 149);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
}
.img-bg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.ttf");
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "JetBrainsExtraLight";
  src: url("./fonts/JetBrainsMono-ExtraLight.ttf");
  src: url("./fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: lighter;
}
#app {
  font-family: JetBrainsExtraLight;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 60px;
}
.m-10 {
  margin: 10px 0 10px 15px;
}
.my-10 {
  margin: 10px 0 10px 0;
}
.mx-10 {
  margin: 0 10px 0 10px;
}
.main-container__wrapper {
  width: 100%;
  background-color: rgba(204, 253, 255, 0.527);
  color: rgb(31, 185, 134);
  border: 1px solid rgb(211, 195, 195);
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-container__body-content-info {
  color: black;
}
.main-container__body-content div {
  margin: 10px 0 10px 15px;
}
.selector {
  border: 1px solid rgb(211, 195, 195);
  /* background-color: rgb(247, 228, 228); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-family: JetBrainsMono;
}
.selector-label {
  overflow-wrap: break-word;
}
.t-col-black {
  color: black;
}
.t-center {
  margin-top: 25%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.selector-wrapper {
  display: flex;
  justify-content: space-between;
  /* column-gap: normal; */
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.button__wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.button__btn {
  font-family: JetBrainsMono;
  background-color: rgb(31, 185, 134);
  color: #fff;
  font-size: 18px;
  width: 140px;
  max-width: auto;
  height: 50px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(31, 185, 134, 0.5);
}
.button__btn:disabled {
  background-color: rgba(122, 134, 130, 0.5);
  color: rgba(0, 140, 145, 0.527);
}
.element {
  text-align: center;
  /* border: 1px solid grey; */
  border-bottom: 3px double grey;
  border-top: 3px double grey;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(112, 119, 117, 0.5);
  /* font-size: medium; */
  background: linear-gradient(
    90deg,
    rgba(18, 50, 33, 0.5) 0%,
    rgba(14, 136, 85, 0.658) 25%,
    rgba(18, 50, 33, 0.5) 100%
  );
  animation: gradient 6s infinite linear;
  background-size: 200%;
  color: rgb(2, 255, 255);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
}
.footer__content {
  line-height: 0.5;
}
.footer__content-wrapper {
  font-size: 12px;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 7vh;
  position: fixed;
  border-radius: 5px;
  border-top: 3px double grey;
  background: linear-gradient(
    90deg,
    rgba(18, 50, 33, 0.5) 0%,
    rgba(3, 192, 113, 0.473) 75%,
    rgba(18, 50, 33, 0.5) 100%
  );
  animation: gradient 5s infinite linear;
  background-size: 200%;
  color: rgb(0, 204, 255);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
}
.repo_container::-webkit-scrollbar {
  display: none;
}
.repo_container {
  /* background: rgb(103, 122, 113); */
  scrollbar-width: none;
  background: radial-gradient(
    circle,
    rgba(48, 54, 51, 0.9) 0%,
    rgba(48, 53, 51, 0.9) 64%,
    rgba(34, 40, 37, 0.9) 100%
  );
  margin-top: 20px;
  height: 85vh;
  overflow: scroll;
  border: 5px double gray;
  padding: 5px;
  bottom: 65px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(112, 119, 117, 0.5);
  color: rgb(31, 185, 134);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
  z-index: 2;
}
.header-title {
  text-align: center;
  color: rgb(0, 253, 156);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
}
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .repo_container{
    margin-top: 0;
    height: 80vh;
  }
  .header-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
  }
  .element {
    font-size: 12px;
  }
  .footer__content-wrapper {
    font-size: 12px;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header-links {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}
.header-links__element {
  margin: 20px 10px 0 10px;
  color: rgb(34, 134, 101);
  text-shadow: 0px -1px 6px rgba(16, 199, 138, 0.5);
  cursor: pointer;
}
.isSelected_resume {
  color: rgb(0, 255, 170);
  text-shadow: 2px 2px 15px rgb(255, 251, 0);
}
.github:hover, .bitbucket:hover{
  filter: drop-shadow(0 0 6px rgba(0, 254, 216, 0.805));
}